@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CSS cho body tag */

body {
    font-family: "Poppins", sans-serif;
}
.thanhtoan-bill{
    width: 100%;
    height: auto;
}

.info-bill{
    /* display: inline-flex; */
    width: 40%;
    height: auto;
    background: #b9b9b9;
    /* align-items: center;
    justify-items: center; */
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bill-header{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.info-bill div{
    padding: 10px 0;
}

.info-bill div>p{
    margin-left: 50px;
    padding: 0 10px;
    font-size: 16px;
}

.info-bill div>p>input{
    width: 50%;
    float: right;
    margin-right: 80px;
}

.info-bill div>p>textarea{
    width: 50%;
    height: 100px;
    float: right;
    margin-right: 80px;
}

.info-bill div>p>select{
    width: 50%;
    float: right;
    margin-right: 80px;
}
.info-bill button{
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 100px;
    text-align:center;
    font-size: 18px;
    background-color: red;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}