@charset "UTF-8";
/* CSS cho toàn trang */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CSS cho body tag */

body {
    font-family: "Poppins", sans-serif;
}

.index-thucpham{
    width: auto;
    height: 1106px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.show-thucpham{
    width: 95%;
    height: auto;
    /* border: 1px solid blue; */
    margin: auto;
    margin-top: 10px;
}

.thucpham{
    width: auto;
    position: relative;
    height: 202px;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 15px;
}

/* .thucpham p{
    width: 105px;
    height: auto;
    font-size: 16px;
    margin-left: 0px;
    float: left;
    transform: translateY(400%);
}

.thucpham img{
    width: 250px;
    margin-left: 10px;
    height: 197px;
    float: left;
}

.thucpham input{
    width: 60px;
    height: auto;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 20px;
    float: left;
    text-align: center;
    transform: translateY(320%);
}

.thucpham button{
    width: 90px;
    height: auto;
    font-size: 16px;
    margin-left: 20px;
    float: left;
    transform: translateY(320%);
} */

.loaitp{
    display: block;
    width: 50px;
    height: 200px;
    font-size: 16px;
    margin-left: 30px;
    float: left;
    /* transform: translateY(400%); */
    /*border: 1px solid yellow;*/
}

.loaitp p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    transform: translateY(150%);
}

.tentp{
    display: block;
    width: 120px;
    height: 200px;
    font-size: 16px;
    margin-left: 30px;
    float: left;
    /* transform: translateY(400%); */
    /*border: 1px solid yellow;*/
}

.tentp p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    transform: translateY(450%);
}

.imagetp{
    display: block;
    width: 270px;
    height: 200px;
    font-size: 16px;
    margin-left: 30px;
    float: left;
    /* transform: translateY(400%); */
    /*border: 1px solid yellow;*/
}

.imagetp img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.timetp{
    display: block;
    width: 105px;
    height: 200px;
    font-size: 16px;
    margin-left: 30px;
    float: left;
    /* transform: translateY(400%); */
    /*border: 1px solid yellow;*/
}

.timetp p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    transform: translateY(350%);
}

.moneytp{
    display: block;
    width: 105px;
    height: 200px;
    font-size: 16px;
    margin-left: 30px;
    float: left;
    /* transform: translateY(400%); */
    /*border: 1px solid yellow;*/
}

.moneytp p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    transform: translateY(350%);
}

.soluongtp{
    display: block;
    width: 95px;
    height: 200px;
    font-size: 16px;
    margin-left: 30px;
    float: left;
    /* transform: translateY(400%); */
    /*border: 1px solid yellow;*/
}

.soluongtp p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    transform: translateY(350%);
}

.infotp{
    display: block;
    width: 180px;
    height: 200px;
    font-size: 16px;
    margin-left: 30px;
    float: left;
    /* transform: translateY(400%); */
    /*border: 1px solid yellow;*/
}

.infotp p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: left;
}

.controltp{
    display: block;
    width: 85px;
    height: 200px;
    font-size: 16px;
    margin-left: 10px;
    float: left;
    /* transform: translateY(400%); */
    /*border: 1px solid yellow;*/
}

.controltp button{
    display: block;
    width: 85px;
    height: 30px;
    margin: auto;
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    transform: translateY(0%);
    border-radius: 2px;
    border: 2px solid white;
}



.pagination{
    width: auto;
    height: 50px;
    margin: auto;
    margin-bottom: 50px;
    margin-left: 500px;
    text-align: center;
    list-style: none;
    /* border: 2px solid yellow; */
    position: relative;
}

.pagination li {
    text-align: center;
    margin: auto;
    color: black;
    float: left;
    padding: 12px 18px;
    text-decoration: none;
}
.pagination li.active {
    background-color: red;
    color: white;
    border-radius: 50%;
}

.pagination li:hover:not(.active) {
    background-color: #ddd;
    border-radius: 50%;
}
.btn-active{
    opacity: 50%;
    border-radius: 50%;
}

.thucpham:hover{
    background-color: rgb(90, 76, 76);
    color: rgb(168, 138, 5);
}