@charset "UTF-8";
.giohang-rol1{
    width: 95%;
    height: 25px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: black;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
}

.giohang-rol1 label{
    font-size: 18px;
    margin-left: 40px;
}