@charset "UTF-8";
.account{
    width: 85%;
    height: 25px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: black;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
}

.account p{
    float: left;
    margin: auto;
    font-size: 18px;
    margin-left: 40px;
}